@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(img/background.jpg) 0 0 repeat-x #fff;
	color:#5E5E5E;

}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------main--------------------*/

/*------------------------------------------------body--------------------*/
#body{
	width:918px;
	margin:0 auto;
}
/*------------------------------------------------header--------------------*/
#header{
	width:918px;
	margin:0 auto 14px auto;
	background:url(images/header.jpg) 0 31px no-repeat;
}
/*------------------------------------------------top-------------------*/
#top{
	width:903px;
	height:23px;
	background:url(images/top_nav_bg.gif) 0 0 repeat-x;
	padding:8px 15px 0 0;
}

#top ul{
	float:left;
	width:815px;
}
#top ul li{
	float:left;
	font-size:0;
	line-height:0;
}
#top ul li a{
	display:block;
	padding:0 14px;
	font:bold 11px/23px Arial, Helvetica, sans-serif;
	color:#6C6C6C;
	background-color:inherit;
	text-decoration:none;
}
#top ul li a:hover{
	color:#fff;
	background-color:#BD0000;
}
#top ul li a.hover{
	display:block;
	padding:0 14px;
	font:bold 11px/23px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#BD0000;
	text-decoration:none;
	cursor:text;
}
#top p{
	float:right;
	padding:2px 0 0 12px;
	background:url(images/phone_icon.gif) 0 2px no-repeat;
	font:bold 11px/16px Arial, Helvetica, sans-serif;
	color:#C89601;
	background-color:inherit;
}
/*------------------------------------------------top--------------------*/

/*------------------------------------------------headLeft--------------------*/
#headLeft{
	width:659px;
	float:left;
	margin:23px 0 0 0;
}
#headLeft img.logo{
	display:block;
	font-size:0;
	line-height:0;
	margin:0 0 15px 0;
	border:none;
}
#headLeft h1{
	display:block;
	width:395px;
	height:55px;
	float:right;
	text-indent:-2000px;
	background:url(images/slogan.gif) 0 0 no-repeat;
	margin:0;
}
#headLeft p{
	display:block;
	width:199px;
	height:76px;
	padding:107px 21px 0 21px;
	font:normal 10px/11px Arial, Helvetica, sans-serif;
	color:#444444;
	background-color:inherit;
	background:url(images/about_project.gif) 0 0 no-repeat;
}
#headLeft p span{
	display:block;
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	color:#D08C00;
	background-color:inherit;
	background:url(images/bullet.gif) 0 3px no-repeat;
	padding:0 0 8px 11px;
}
#headLeft p a{
	display:block;
	background:url(images/read_more.gif) 0 0 no-repeat;
	width:55px;
	height:18px;
	margin:5px 0 0 0;
	float:right;
	text-indent:-2000px;
}
#headLeft p a:hover{
	background:url(images/read_more_hover.gif) 0 0 no-repeat;
}
/*------------------------------------------------headLeft--------------------*/

/*------------------------------------------------headright--------------------*/
#headRight{
	width:240px;
	float:right;
	margin:22px 0 0 0;
	height:276px;
	background:url(images/member_login_bg.gif) 0 0 no-repeat;
}
#headRight h2{
	display:block;
	width:200px;
	height:15px;
	padding:16px 0 0 40px;
	background:url(images/member_icon.gif) 17px 16px no-repeat;
	font:normal 17px/17px Arial, Helvetica, sans-serif;
	color:#274E5D;
	background-color:inherit;
	margin:0 0 8px 0;
}
#headRight form{
	width:205px;
	padding:0 0 0 17px;
}
#headRight form input.txtBox1{
	width:197px;
	height:19px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#808080 solid 1px;
	border-left:#808080 solid 1px;
	padding:2px 0 0 6px;
	font:normal 10px/19px Arial, Helvetica, sans-serif;
	color:#040404;
	background-color:#fff;
}
#headRight form label.formTxt{
	font:normal 10px/26px Arial, Helvetica, sans-serif;
	color:#393939;
	background-color:inherit;
}
#headRight form label.fp{
	float:left;
	margin:12px 0 0 0;
	width:94px;
	height:9px;
	background:url(images/forgot_password.gif) 0 0 no-repeat;
	padding:0 0 0 15px;
	display:block;
}
#headRight form label.fp a{
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	color:#8E9703;
	background-color:inherit;
	text-decoration:none;
}
#headRight form label.fp a:hover{
	text-decoration:underline;
}
#headRight form input.login{
	background:url(images/btn_login.gif) 0 0 no-repeat;
	width:41px;
	height:18px;
	float:right;
	border:none;
	cursor:pointer;
	margin:8px 0 0 0;
}
#headRight form label.reg{
	display:block;
	width:198px;
	height:26px;
	margin:21px 0 0 0;
	padding:7px 0 0 7px;
	float:left;
	background:url(images/free_registration_bg.gif) 0 0 no-repeat;
}
#headRight form label.reg a{
	font:bold 11px/18px Arial, Helvetica, sans-serif;
	color:#393939;
	background-color:inherit;
	text-decoration:none;
	text-transform:uppercase;
}
#headRight form label.reg a:hover{
	color:#8E9703;
	background-color:inherit;
}
#headRight form label.reg a span{
	color:#fff;
	background-color:#DB0C90;
	width:25px;
	height:6px;
	text-align:center;
	padding:6px;
	margin:0 7px 0 0;
}
#headRight form label.reg a:hover span{
	color:#000;
	background-color:#DB0C90;
}
#header ul.botLink{
	width:889px;
	height:32px;
	background:url(images/head_bot_bg.gif) 0 0 repeat-y;
	float:left;
	padding:0 0 0 29px;
}
#header ul.botLink li{
	float:left;
	margin:0 54px 0 0;
	display:block;
}
#header ul.botLink li.noMargin2{
	margin:0;
}
#header ul.botLink li a{
	font:bold 12px/32px Arial, Helvetica, sans-serif;
	color:#FAFDFF;
	background-color:inherit;
	text-decoration:none;
}
#header ul.botLink li a:hover{
	color:#DB0C90;
	background-color:inherit;
}
/*------------------------------------------------headright--------------------*/

/*------------------------------------------------header--------------------*/

/*------------------------------------------------body2--------------------*/
#body2{
	width:918px;
	margin:13px auto 0 auto;
	padding:0 0 35px 0;
}
/*------------------------------------------------left--------------------*/
#left{
	width:241px;
	float:left;
	background:url(images/left_bg.gif) 0 0 no-repeat;
	padding:8px 0 0 9px;
}
#left h2{
	display:block;
	width:200px;
	height:26px;
	background:url(images/arrow.gif) 9px 9px no-repeat #454545;
	color:#F9FDFF;
	font:bold 12px/26px Arial, Helvetica, sans-serif;
	padding:0 0 0 24px;
	margin:0 0 22px 0;
}
#left ul{
	padding:0 0 0 18px;
	font-size:0;
	line-height:0;
}
#left ul li{
	display:block;
	background:url(images/bullet2.gif) 0 5px no-repeat;
	padding:0 0 15px 14px;
	color:#8F8F8F;
	background-color:inherit;
	font:normal 11px Arial, Helvetica, sans-serif;
	margin:0;
	
}
#left ul li span{
	display:block;
	color:#408BAA;
	background-color:inherit;
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	padding:0 0 10px 0;
	margin:0;
}
#left ul li a.grey{
	color:#8F8F8F;
	background-color:inherit;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	text-decoration:underline;
	width:173px;
}
#left ul li a.grey:hover{
	color:#000;
	background-color:inherit;
}
#left ul li a.blue{
	color:#408BAA;
	background-color:inherit;
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	text-decoration:underline;
	width:173px;
}
#left ul li a.blue:hover{
	color:#000;
	background-color:inherit;
}
/*------------------------------------------------left--------------------*/

/*------------------------------------------------right--------------------*/
#right{
	width:656px;
	margin:3px 0 0 0;
	float:right;
}
#welcome{
	width:619px;
	background:url(images/welcome_bg.gif) 0 0 repeat-x;
	padding:0 15px 0 22px;
	position:relative;
	margin:0 0 17px 0;
}
#welcome h2{
	color:#FEFFFF;
	background-color:inherit;
	font:bold 33px/33px Arial, Helvetica, sans-serif;
	padding:21px 0 16px 0;
	float:left;
}
#welcome img.special{
	display:block;
	background:url(images/special.gif) 0 0 no-repeat;
	width:83px;
	height:45px;
	float:right;
}
#welcome p{
	color:#FEFFFF;
	background-color:inherit;
	font:normal 14px/20px Arial, Helvetica, sans-serif;
	padding:0 0 16px 0;
	float:left;
	width:600px;
	display:block;
}
#welcome p span{
	color:#FFFD2E;
	background-color:#2B7390;
	padding:2px;
	text-decoration:none;
}
#welcome a{
	display:block;
	background:url(images/more.gif) 0 0 no-repeat;
	width:41px;
	height:18px;
	text-indent:-2000px;
	position:absolute;
	left:574px;
	top:96px;
}
#welcome a:hover{
	background:url(images/more_hover.gif) 0 0 no-repeat;
}
#right h2.lp{
	display:block;
	width:235px;
	padding:0 0 0 35px;
	float:left;
	background:url(images/latest_project.gif) 0 2px no-repeat;
	color:#484848;
	background-color:inherit;
	font:bold 33px/37px Arial, Helvetica, sans-serif;
}
#right h3.lp{
	display:block;
	width:235px;
	float:left;
	background:url(images/latest_project.gif) 0 2px no-repeat;
	color:#484848;
	background-color:inherit;
	font:bold 33px/37px Arial, Helvetica, sans-serif;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 35px;
}
#link{
	width:324px;
	float:right;
}
#link p.left{
	display:block;
	background:url(images/round_left.gif) 0 0 no-repeat;
	width:8px;
	height:27px;
	float:left;
}
#link p.right{
	display:block;
	background:url(images/round_right.gif) 0 0 no-repeat;
	width:10px;
	height:27px;
	float:right;
}
#link ul.number{
	float:left;
	background:url(images/right_link_bg.gif) 0 0 repeat-x;
	height:27px;
	width:306px;
}
#link ul.number li{
	float:left;
}
#link ul.number li a.pre{
	display:block;
	background:url(images/arrow_pre.gif) 0 9px no-repeat;
	margin:0 26px 0 0;
	padding:0 0 0 12px;
	color:#484848;
	background-color:inherit;
	font:bold 11px/26px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#link ul.number li a.pre:hover{
	color:#A80303;
	background-color:inherit;
}
#link ul.number li a.no{
	display:block;
	width:18px;
	height:17px;
	float:left;
	margin:5px 4px 0 0;
	color:#0C0C0C;
	background-color:#FEFEF6;
	font:normal 10px/17px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align:center;
}
#link ul.number li a.no:hover{
	color:#fff;
	background-color:#DB0C90;
}
#link ul.number li a.noFix{
	display:block;
	width:18px;
	height:17px;
	float:left;
	margin:5px 4px 0 0;
	color:#fff;
	background-color:#DB0C90;
	font:normal 10px/17px Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-align:center;
	cursor:text;
}
#link ul.number li.last{
	float:right;
}
#link ul.number li.last a.nxt{
	display:block;
	background:url(images/arrow_next.gif) right center no-repeat;
	margin:0;
	padding:0 12px 0 0;
	color:#484848;
	background-color:inherit;
	font:bold 11px/26px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#link ul.number li.last a.nxt:hover{
	color:#A80303;
	background-color:inherit;
}
#right ul.picture{
	width:656px;
	float:left;
	margin:16px 0 24px 0;
}
#right ul.picture li{
	display:block;
	border:#EBF3F5 solid 4px;
	margin:0 13px 0 0;
	padding:0 0 10px 0;
	width:145px;
	float:left;
}
#right ul.picture li img.layout{
	display:block;
	font-size:0;
	line-height:0;
	margin:0 0 10px 0;
}
#right ul.picture li span{
	color:#BD0000;
	background-color:inherit;
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	display:block;
	padding:0 0 10px 11px;
}
#right ul.picture li span.txt2{
	color:#5E5E5E;
	background-color:inherit;
	font:normal 10px/11px Arial, Helvetica, sans-serif;
	display:block;
	padding:0 0 0 11px;
}
#right ul.picture li a{
	display:block;
	margin:2px 0 0 121px;
	width:10px;
	height:10px;
	background:url(images/bullet3.gif) 0 0 no-repeat;
}
#right ul.picture li a:hover{
	background:url(images/bullet3_hover.gif) 0 0 no-repeat;
}
#right ul.picture li.last2{
	display:block;
	border:#EBF3F5 solid 4px;
	margin:0;
	padding:0 0 10px 0;
	width:145px;
}
#event{
	width:313px;
	float:left;
	background-color:#F6F8E4;
	color:#8C906A;
	padding:4px 4px 20px 4px;
}
#event h2{
	display:block;
	height:49px;
	background:url(images/event_icon.gif) 12px 12px no-repeat #FEFFF6;
	padding:0 0 0 52px;
	color:#484848;
	font:normal 24px/49px Arial, Helvetica, sans-serif;
	margin:0 0 13px 0;
}
#event p.firstTxt{
	padding:0 10px 19px 12px;
	display:block;
	font:normal 11px/14px Arial, Helvetica, sans-serif;
}
#event p.firstTxt span{
	display:block;
	padding:0 0 11px 0;
	color:#DB0C90;
	background-color:inherit;
	font-weight:bold;
}
#event p.secTxt{
	padding:0 10px 3px 12px;
	display:block;
	font:normal 11px/14px Arial, Helvetica, sans-serif;
}
#event p.secTxt span{
	display:block;
	padding:0 0 11px 0;
	color:#DB0C90;
	background-color:inherit;
	font-weight:bold;
}
#event a.rm2{
	display:block;
	background:url(images/read_more2.gif) 0 0 no-repeat;
	margin:0 0 0 240px;
	text-indent:-2000px;
	width:61px;
	height:18px;
}
#event a.rm2:hover{
	background:url(images/read_more2_hover.gif) 0 0 no-repeat;
}
#test{
	width:313px;
	float:right;
	background-color:#F6F8E4;
	color:#525348;
	padding:4px 4px 20px 4px;
}
#test h2{
	display:block;
	height:49px;
	background:url(images/testimonial_icon.gif) 12px 12px no-repeat #FEFFF6;
	padding:0 0 0 52px;
	color:#484848;
	font:normal 24px/49px Arial, Helvetica, sans-serif;
	margin:0 0 13px 0;
}
#test p.firstTxt2{
	padding:0 14px 23px 12px;
	display:block;
	font:italic 11px/14px Arial, Helvetica, sans-serif;
	color:#8C906A;
	background-color:inherit;
}
#test p.firstTxt2 span{
	display:block;
	padding:0 0 11px 0;
	color:#DB0C90;
	background-color:inherit;
	font-weight:bold;
}
#test p.secTxt2{
	padding:0 14px 9px 12px;
	display:block;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
}
#test a.testimoni{
	display:block;
	background:url(images/more_testimonial.gif) 0 0 no-repeat;
	margin:0 0 0 210px;
	text-indent:-2000px;
	cursor:pointer;
	width:91px;
	height:18px;
}
#test a.testimoni:hover{
	background:url(images/more_testimonial_hover.gif) 0 0 no-repeat;
}
/*------------------------------------------------right--------------------*/

/*------------------------------------------------body2--------------------*/

/*------------------------------------------------body--------------------*/

/*------------------------------------------------footer--------------------*/
#footer{
	width:900px;
	height:75px;
	margin:0 auto;
	background:url(images/footer_bg.gif) 0 0 repeat-x;
	padding:17px 0 0 18px;
}
#footer ul.botLink{
	float:right;
	padding:0 8px 0 0;
}
#footer ul.botLink li{
	float:left;
	font:normal 11px/11px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	display:block;
}
#footer ul.botLink li a{
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	float:left;
	margin:0 7px;
}
#footer ul.botLink li a:hover{
	color:#E9E617;
	background-color:inherit;
}
#footer ul.botLink2{
	float:right;
	width:145px;
	height:20px;
	padding:10px 17px 0 280px;
}
#footer ul.botLink2 li{
	float:left;
}
#footer ul.botLink2 li a.css{
	display:block;
	background:url(images/css_bg.gif) 0 0 no-repeat;
	width:69px;
	height:20px;
	float:left;
	margin:0 6px 0 0;
}
#footer ul.botLink2 li a.css:hover{
	background:url(images/css_bg_hover.gif) 0 0 no-repeat;
}
#footer ul.botLink2 li a.xhtml{
	display:block;
	background:url(images/xhtml_bg.gif) 0 0 no-repeat;
	width:69px;
	height:20px;
	float:left;
}
#footer ul.botLink2 li a.xhtml:hover{
	background:url(images/xhtml_bg_hover.gif) 0 0 no-repeat;
}
#footer p.copy{
	float:left;
	width:340px;
	font:normal 10px/10px Arial, Helvetica, sans-serif;
	color:#CDD2A1;
	background-color:inherit;
	padding:0 0 10px 0;
}
#footer p.design{
	float:left;
	width:175px;
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	color:#F72F2F;
	background-color:inherit;
	padding:4px;
}
#footer p.design a{
	font:bold 11px/11px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	padding:2px;
	
}
#footer p.design a:hover{
	color:#fff;
	background-color:#F72F2F;
}
/*------------------------------------------------footer--------------------*/
/*--------------------------------------------------------------------------------InnerPage---------------------------------------------------------------------------*/

#innercontent
		{
	width:630px;
	height:20px;
	font: 10pt/14px Arial, Helvetica, sans-serif;
	margin-top: 30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
		}
#innercontent002
		{
			width:630px;
			height:20px;
			margin:90px 0 0 0;
			font: 10pt/14px Arial, Helvetica, sans-serif;
		}
#innercontent003
		{
			width:630px;
			height:20px;
			margin:90px 0 0 0;
			font: 10pt/14px Arial, Helvetica, sans-serif;
		}
	
/*-------------------------------------------------------------------------------------------Innerpage---------------------------------------------------------------*/

#innerleftblank
	{
		width:600px;
		height:600px;
		float:left;
		margin:0 0 0 30px;
		padding:0px;
		border-right:dashed 1px #707070;
	}

#innerhedding
	{
		width:550px;
		height:20px;
		float:left;
		margin:0 0 0 35px;
		padding:0px;
		font-family: Arial;
		font-size:25pt;
		color:#FFFFFF;
	}
#innertxt
	{
		width:550px;
		height:20px;
		float:left;
		margin:40px 0 80px 35px;
		padding:0px;
		font-family: Arial;
		font-size:12pt;
		color:#FFFFFF;
	}
#innertxt002
	{
		width:550px;
		height:20px;
		float:left;
		margin:10px 0 80px 35px;
		padding:0px;
		font-family: Arial;
		font-size:12pt;
		color:#FFFFFF;
	}
#innertxt003
	{
		width:550px;
		height:20px;
		float:left;
		margin:10px 0 130px 35px;
		padding:0px;
		font-family: Arial;
		font-size:12pt;
		color:#FFFFFF;
	}
#innertxt004
	{
		width:550px;
		height:20px;
		float:left;
		margin:20px 0 80px 35px;
		padding:0px;
		font-family: Arial;
		font-size:12pt;
		color:#FFFFFF;
	}
	
/*--------------------------------------------------------------------------------------------Innerpage---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------submenu----------------------------------------------------------------------*/
#submenuhedding
		{
			width:640px;
			height:20px;
			float:left;
			margin:0 0 0 20px;
			padding:0px;
			font-family: Arial;
			font-size:30pt;
			font-weight:bold;
			color: #484848;
		}
#submenublank
		{
			width:652px;
			height:204px;
			margin:100px 0 0 11px;
			padding:0px;
			float:left;
		}
#submenu
		{
			width:601px;
			height:121px;
			margin:40px 0 0 0;
			padding:0px;
			float:left;
			background-image: url(images/submenu.jpg);
			background-repeat:no-repeat;
		}
#submenu ul
		{
			width:601px;
			height:133px;
			margin:0px;
			padding:0px;
			display:block;
			list-style:none;
			line-height:normal;
		}
#submenu ul li .submenu
		{
			width:601px;
			height:22px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:4px 0 0 3px;
			padding:6px 0 0 25px;
			display:block;
			list-style:none;
			line-height:normal;
		}
#submenu ul li .submenu:hover
		{
			width:601px;
			height:22px;
			font-family: Arial;
			font-size:11px;
			color:#484848;
			text-decoration:none;
			margin:4px 0 0 3px;
			padding:6px 0 0 25px;
			display:block;
			list-style:none;
			background-image: url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
		}
#submenu ul li .submenu002
		{
			width:601px;
			height:18px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:0 0 0 3px;
			padding:5px 0 0 25px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu002:hover
		{
			width:601px;
			height:18px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:0 0 0 3px;
			padding:5px 0 0 25px;
			display:block;
			list-style:none;
			background-image:  url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			
		}		
#submenu ul li .submenu003
		{
			width:601px;
			height:27px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:4px 0 0 3px;
			padding:5px 0 0 25px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu003:hover
		{
			width:601px;
			height:27px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:4px 0 0 3px;
			padding:5px 0 0 25px;
			display:block;
			list-style:none;
			background-image: url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			

		}		
#submenu ul li .submenu004
		{
			width:601px;
			height:27px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:4px 0 0 3px;
			padding:5px 0 0 25px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu004:hover
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#484848;
			text-decoration:none;
			margin:1px 0 0 0;
			padding:5px 0 0 20px;
			display:block;
			list-style:none;
			background-image: url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			
		}		
#submenu ul li .submenu005
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:3px 0 0 0;
			padding:5px 0 0 20px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu005:hover
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:3px 0 0 0;
			padding:5px 0 0 20px;
			display:block;
			list-style:none;
			background-image: url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			
		}		
#submenu ul li .submenu006
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:2px 0 0 0;
			padding:5px 0 0 20px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu006:hover
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:2px 0 0 0;
			padding:5px 0 0 20px;
			display:block;
			list-style:none;
			background-image:  url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			
		}		
#submenu ul li .submenu007
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:4px 0 0 0;
			padding:4px 0 0 20px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu007:hover
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:4px 0 0 0;
			padding:4px 0 0 20px;
			display:block;
			list-style:none;
			background-image: url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			
		}		
#submenu ul li .submenu008
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:2px 0 0 0px;
			padding:3px 0 0 20px;
			display:block;
			list-style:none;
			line-height:normal;			
			
		}
#submenu ul li .submenu008:hover
		{
			width:266px;
			height:15px;
			font-family: Arial;
			font-size:11px;
			color:#FFFFFF;
			text-decoration:none;
			margin:2px 0 0 0;
			padding:3px 0 0 20px;
			display:block;
			list-style:none;
			background-image: url(images/submenuover.jpg);
			background-repeat:no-repeat;
			line-height:normal;			
			
		}		
		
/*--------------------------------------------------------------------------------------submenu----------------------------------------------------------------------*/
/*----------------------------------------------------------------contactpage----------------------------------------------------------------------------------------*/


#contactleftblank
		{
			width:600px;
			height:500px;
			float:left;
			margin:0 0 10px 0;
			padding:0px;
			border-right:dashed 1px #FFFFFF; 
		}

#contactheddingblank
		{
			width:500px;
			height:30px;
			float:left;
			margin:0px;
			padding:0 0 0 35px;
			background:url(images/latest_project.gif) 0 2px no-repeat;
			color:#484848;
			background-color:inherit;
			font:bold 33px/37px Arial, Helvetica, sans-serif;
		}
#contactaddressblank{
				width:360px;
				height:290px;
				font-family:Arial, Helvetica, sans-serif;
				font-size:18pt;
				color:#a10000;
				float:left;
				padding:0px;
				margin:0 0 0 2px;
				background-color:#dcd9a5;
	}
#contactaddresshedding
		{
		width:200px;
		height:35px;
		float: left;
		margin:31px 0 0 20px;
		padding:0px;
		font-family: Tahoma;
		font-size:25pt;
		}		

#contactaddresstext{
	width:200px;
	height:180px;
	float: left;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif, "Trebuchet MS";
	font-size:10pt;
	color:#484848;
	font-weight: normal;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 20px;
	}
#contactaddresstext002{
		width:240px;
		height:30px;
		float: left;
		margin:50px 0 70px 20px;
		padding:0px;
		font-family: Arial;
		font-size:13pt;
		color:#FFFFFF;
	}
#contactaddresstext003{
		width:250px;
		height:30px;
		float: left;
		margin:10px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:13pt;
		color:#1d1d1d;
	}

#contactsmallhedding
			{
			width:500px;
			height:30px;
			float:left;
			margin:20px 0 0 0;
			padding:0px;
			font-family: Arial;
			font-size:10pt;
			color:#484848;
			}
#contacthedding
			{
			width:553px;
			height:20px;
			float:left;
			margin:24px 0 0 53px;
			padding:0px;
			background:url(images/latest_project.gif) 0 2px no-repeat;
			color:#484848;
			background-color:inherit;
			font:bold 33px/37px Arial, Helvetica, sans-serif;
			}
			
#contacticon{
				width:86px;
				height:84px;
				float:left;
				background-image: url(contacticon.png);
				background-repeat:no-repeat;
				margin:10px 0 0 30px;
	}
#contactfeildnameblank
			{
				width:150px;
				height:400px;
				margin:10px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildblank
			{
				width:250px;
				height:400px;
				margin:10px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildname
			{
				width:150px;
				height:20px;
				margin:0px;
				padding:0;
				float:left;
			}
#contactfeildname002
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildname003
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname004
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname005
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname006
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeildname007
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname008
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeildname009
			{
				width:150px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeild
			{
				width:200px;
				height:20px;
				margin:0px;
				padding:0;
				float:left;
			}
#contactfeild002
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeild003
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild004
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild005
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild006
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#contactfeild007
			{
				width:200px;
				height:20px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild008
			{
				width:200px;
				height:20px;
				margin:8px 0 0 0;
				padding:0;
				float:left;
			}	
#contactfeild009
			{
				width:200px;
				height:60px;
				margin:5px 0 0 0;
				padding:0;
				float:left;
			}
#submitbutton
			{
				width:200px;
				height:20px;
				margin:50px 0 0 0;
				padding:0;
				float:left;

			}	
			
.contactfeildname
			{
				font-family:Arial, Helvetica, sans-serif;
				font-size:9pt;
				color:#484848;
			}
.contactfeild
			{
				font-family:Arial, Helvetica, sans-serif;
				font-size:10pt;
				color: #3c4538;
				border:solid;
				border-width:1px;
				border-color:#666666;
				background-color:#f2f2f2;
			}
.contactfeild:hover
			{
				font-family:Arial, Helvetica, sans-serif;
				font-size:10pt;
				color:#3c4538;
				border:solid;
				border-width:1px;
				border-color:#666666;
				background-color:#f9f9f9;
			}
.submit
			{
				font-family:Arial, Helvetica, sans-serif;
				font-size:9pt;
				color:#FFFFFF;
				background-color:#666666;
				border:solid;
				border-width:1px;
				border-color:#CCCCCC;
			}
.submit:hover
			{
				font-family:Arial, Helvetica, sans-serif;
				font-size:9pt;
				color:#FFFFFF;
				background-color:#54180a;
				border:solid;
				border-width:1px;
				border-color:#54180a;
			}
			
.contactinput
		{
			width:160px;
			height:20px;
			font-family:Arial, Helvetica, sans-serif, "Trebuchet MS";
			font-size:12px;
			font-weight:bold;
			color:#3c4538;
			background-color:#F9F9F9;
			border:solid;
			border-color: #666666;
			border-width:1px;
		}
.contactinput:hover
		{
			width:160px;
			height:20px;
			font-family:Arial, Helvetica, sans-serif, "Trebuchet MS";
			font-size:12px;
			font-weight:bold;
			color:#3c4538;
			background-color:#F9F9F9;
			border:solid;
			border-color:#666666;
			border-width:1px;		}
.textarea
		{
			width:200px;
			height:100px;
			font-family:Arial, Helvetica, sans-serif, "Trebuchet MS";
			font-size:12px;
			font-weight:bold;
			color:#3c4538;
			background-color:#FFFFFF;
			border:solid;
			border-color:#666666;
			border-width:1px;		}
.textarea:hover
		{
			width:200px;
			height:100px;
			font-family:Arial, Helvetica, sans-serif, "Trebuchet MS";
			font-size:12px;
			font-weight:bold;
			color:#3c4538;
			background-color:#F9F9F9;
			border:solid;
			border-color:#666666;
			border-width:1px;		}

/*----------------------------------------------------------------contactpage----------------------------------------------------------------------------------------*/
.submenu
		{
			width:601px;
			height:121px;
			margin:40px 0 0 0;
			padding:0px;
			float:left;
			background-image: url(images/submenu.jpg);
			background-repeat:no-repeat;
		}
.submenu
		{
			width:601px;
			height:133px;
			margin:0px;
			padding:0px;
			display:block;
			list-style:none;
			line-height:normal;
		}
.submenu:hover
		{
			width:601px;
			height:22px;
			font-family: Arial;
			font-size:11px;
			font-weight:bold;
			color:#484848;
			text-decoration:none;
			margin:4px 0 0 3px;
			padding:6px 0 0 25px;
			display:block;
			list-style:none;
			line-height:normal;
		}
.submenu_top {
	background-image: url(images/submenu_top.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 1px;
	width: 591px;
}
.sublink {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #8c906a;
	text-decoration: none;
	background-image: url(images/submenu_active.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 20px;
	width: 561px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.sublink:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #8c906a;
	text-decoration: none;
	background-image: url(images/submenu_hover.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	float: left;
	height: 20px;
	width: 561px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
